/*
    리액트에서는 css파일 중첩을 방지하기 위해
    .module.css라는 형태로 스타일 중복방지 제공
*/

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1152px;
    margin: auto;
    padding: 0px 25px;
    height: 150px;
}

.headerContainer img{
    width: 100px;
    height: 100px;
}

.headerContainer a{
    color: white;
}

.headerContainer .active{
    color: orange;
}

.headerContainer ul{
    display: flex;
    gap: 2.4rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width:768px) {
    .headerContainer{
        max-width: 680px;
    }

    .headerContainer ul {
        gap: 1.6rem;
    }
}